---
---

@import "{{ site.theme }}";

body {
  background-image: none;
  background-color: transparent;
}

header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957); 
  position: unset;
}

header h1 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 38;
  margin: 20px;
  text-shadow: none;
}

section {
  background: none;
  box-shadow: none;
  border: none;
  border-radius: none;
}

nav {
  border-right: solid;
}
