---
---

@import "{{ site.theme }}";

body {
  background-image: none;
  background-color: transparent;
}

header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957); 
  position: unset;
}

header h1 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 38;
  margin: 20px;
  text-shadow: none;
}

section {
  background: none;
  box-shadow: none;
  border: none;
  border-radius: none;
  margin-top: 0;
  position: inherit;
  top: -210px;
}

nav {
  border-right: solid;
  padding-right: 10px;
  border-color: gray;
  position: sticky;
  top: 50px;
  margin-top: 50px;
  left: 0;
  margin-left: -260px;
}

hr {
    border: 0;
    outline: none;
    height: 2px;
    margin: 30px 0;
    background-color: #dadada;
    background-image: none;
}

